<a class="" href='#' onClick='window.location="view-source:" + window.location.href;return false;'>View Source</a>
<pre><code>

- Directives
> Bind behaviour!!
> HTML annotations that trigger javascript behavior

- Modules
> Where our application components live
> var app = angular.module('applicationName',[dependencies]);
> ng-app="applicationName"

- Controllers
> where we add application behavior

- Expressions
> how values get displayen within the page
> {{3 + 4}} {{"hallo " + "Daan"}} {{controller.variabele}}
> https://docs.angularjs.org/guide/expression


# directives

<div nh-show="whatever.val">
<div nh-hide="whatever.val">
ng-repeat="item in whaterver.items"
ng-click="addExp(expr)"
<img ng-src="{{product.image.full}}">
ng-init="varia = 12"
ng-class="{ classname:varia === 12}"
ng-model="alias.varia"	<input ng-model="person.name">
checkbox become true||false


## html
<div ng-controller="NameController as name">
{{name.var}}
</div>

## app.js
.controller("NameController",function(){
	this.var="hallo";
})

# filter | pipe
{{data | filter:options}}
{{product.price | currency}}
date:'MM/dd/yyy @ h:mm'
uppercase
limitTo:8 ng-repeat="product in store.products |limitTo:30"
orderBy:'-price'


</code></pre>