<pre>
// prefer to load at the bottom of the HTML



// otherwise wrap in:
$(document).ready(function(){
	
});
// is the same as:
$(function(){
	
});
 

// This event function bind to all the li's.
// so if you have 100 li's then there are 100 event functions.
$('li').on('mouseenter',function(){
	// do stuff
});
// its beter to put the event to the ul. That way there is only one event function.
$('ul').on('mouseenter','li',function(){
	// do stuff
});
 
// make a js hook
// in css do somthing like:
.js #divName{ display:none; }
// in js do somthing like
$('html').addClass('js');



// window.jQuery = window.$ = jQuery;

// https://developers.google.com/speed/libraries/devguide
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

// self invoking anonimous function
// put the vars and the rest in this function
(function(){
})();
// better for jquery use
(function($){
})(jQuery);


var $this=$(this),
	anotherVar=$this.('.whaterver');

$('<h2 class="classname">ola</h2>').appendTo('selector');
// rewhrite to
$('<h2></h2>',{
	text:'ola',
	class:'classname'
}).appendTo('selector');

//create an object
var objectName={
	init:function(){
}
objectName.init();
}

// determine the 'this' in a callback
// Calls a function with a given this value and arguments provided individually.
someFunction();
someFunction.call(theVarYouWantForThis)

// config object $.extend()
var myObject{
	confif:{counter:1,speed:500},
	init:function(myConfig){
		$.extend(this.config,myConfig);
	}
}
myObject.init({speed:300});


// check if somthing is hidden
if( $('.container').is(':hidden') ){}

// change default speeds
$.fx.speeds._default=200;
$.fx.speeds.slow=1000;
$.fx.speeds.mySpeed=600;

// extend jquery
$.fn.FadeCustomToggle=function(speed,fn){
	return $(this).animate({opacity:'toggle'}, speed || 250,function(){ 
		// if($.isFunction(fn)){fn.call(this)}  
		$.isFunction(fn) && fn.call(this);
	});
}
$('element').FadeCustomToggle(100);

// logic math shorthand
var = var+1
var+=1
++var

// mod or use %
1 mod 3 = 1
2 mod 3 = 2
3 mod 3 = 0
4 mod 3 = 1
4 % 3	= 1

// prototypal inheritance
function ConstrFunc(){
	//this = the object
	this.vari='test';
	this.funct=function(){
		// method of obj
	}
}
ConstrFunc.prototype.func2=function(){
	// this.vari == 'test'
}
var obj = new ConstrFunc();

// $.map rearange/ modify (json) object
$arrayOfObjects = $.map(ArrayOfObjFromAjaxJsonCall,function(obj){
	return {title:obj.title,msg:obj.text}
})

// $.grep filter through an array or obj
arr = [1,2,4,5,6,7,8,9,0];
arrWithNumbersgreaterThanThree = $.grep(arr,function(val,index){
	return (val>3);
});

// templating basic
<script id='templateId' type='text/template'>
		<h2>{{title}}</h2>
		<h3>{{sub}}</h3>
</script>
<script>
	var content=[
			{title:'ola',sub:'sub1'},
			{title:'cola',sub:'sub2'}],
		template=$.trim( $('#tempalte').html() ),
		temp='';
	$.each(content,function(index,obj){
		temp +=
		template.replace(/{{title}}/ig,obj.title) // i=case insensitive g=global=keep looking
				.replace(/{{sub}}/ig,obj.sub);
	});
	$('el').append(temp);
</script>

// templating handlebars / mustash  http://handlebarsjs.com/ 
// https://raw.github.com/wycats/handlebars.js/1.0.0/dist/handlebars.js
<ul id='blogs'>
<script id='templateId' type='text/x-handlebars-template'>
	{{#each this}}
		<li>
			<h2>{{title}}</h2>
			{{#if sub}}<h3>{{sub}}</h3>{{/if}}
			<p>{{{html}}}</p>
			<p>{{completeAdress address}}</p>
		</li>
	{{/each}}
</script>
</ul>
<script>
	var content		= [
			{title:'ola',sub:'sub1',html:'<b>escaped</b> html with three {{{ }}} ',address:{city:'utrecht',street:'menno van coehoornstraat 1'}},
			{title:'cola',sub:'sub2',html:'ss'}];
	Handlebars.registerHelper('completeAdress',function(obj){
		return obj.city + "<br>" + obj.street;
	});
	var	
		template 	= Handlebars.compile( $('#template').html() ),
		temp 		= template(content);
		$('#blogs').append(temp);
</script>


Deferred
https://api.jquery.com/category/deferred-object/

var defFunc = function(){
	var df = $.Deffered();
	setTimeout(function(){
		myVar = 'resultVal';
		
		// trigger done
		df.resolve();

		// trigger fail
		// df.reject();
	},2000);
	return df.promise();	
}

// defFunc().done(function(){ console.log('this is done positive'); });
var returnedDef = defFunc();

returnedDef.done( function(){ // fnPositive
	console.log('this is done positive');
}).fail(function(){ // fnNegative
	console.log('this is failed');
}).always(function(){ // fnPositive || fnNegative
	console.log('this is failed || it is positive');
}).then(fnPositive,fnNegative);

$.when(returnedDef, anotherDefferd).done();


// ajax returns a deffered by default
// succes: redolve
// error: reject
var ajx = function(search){
	return $.ajax({
		url: 'http://url',
		data: { q: search}
	}).promise();
}

var tmp = ajx('beach');
tmp.then(function(results){
	console.log(results);
});



// http://modernizr.com/
// http://prefixr.com/
// http://handlebarsjs.com/ 

































